/* ALL PAGES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: #fff9f0;
}

nav {
    position: sticky;
    top: 0;
	overflow: hidden;
    background-color: #fff9f0;
    font-family: Clash Display, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    padding: 1em 0em;
}

.logo {
    margin-left: 5%;
}

.logo img {
    height: 6rem;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 5%;
}

.nav-list {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    gap: 5rem;
}

.nav-list li {
    align-content: stretch;
}

nav a {
    color: #fff9f0;
    text-decoration: none;
    padding: .5em .75em;
    background-color: black;
}

/* nav {
    display: flex;
    flex-direction: row;
    
    background-color: yellow;
}

.nav-logo {
    display: flex;
    justify-content: flex-start;
    background-color: blue;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    background-color: green;
}

.nav-a {
    font-family: ClashDisplay, sans-serif;
    text-decoration: none;
    color: white;
    background-color: red;
} */

.splash-img {
    max-width: 100%;
}

.page-title {
    font-family: ClashDisplay, sans-serif;
    font-size: 8em;
    padding-left: .5em;
}

.about-text {
    font-family: 'Urbanist', sans-serif;
    font-size: 1em;
}

.project {
	display: flex;
	flex-wrap: wrap;
    border-radius: 25px;
}

.project > * {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 25em;
}

.cell {
	padding: 1em;
    /* background-color: red; */
	/* margin: 15px 5%; */
    /* margin: 10px; */
}

.cell-text{
    margin-right: 4em;
    padding: 3em 3em 3em 0em;
    /* background-color: green; */

}

.cell img {
	object-fit: contain;
	width: 75%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    /* background-color: blue; */
}

h2 {
    font-family: 'Urbanist', sans-serif;
    font-size: 3em;
}

.description-text {
    font-family: 'Urbanist', sans-serif;
}




footer {
    background-color: #95CBBE;
}

@font-face {
    font-family: ClashDisplay;
    src: url(../fonts/ClashDisplay-Medium.otf);
}