/* ALL PAGES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: #fff9f0;
}

nav {
    position: sticky;
    top: 0;
	overflow: hidden;
    background-color: #fff9f0;
    font-family: Clash Display, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
}

.logo {
    margin-left: 5%;
}

.logo img {
    height: 6rem;
    margin: 1em 0em;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 5%;
}

.nav-list {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    gap: 5rem;
}

.nav-list li {
    align-content: stretch;
}

nav a {
    color: #fff9f0;
    text-decoration: none;
    padding: .5em .75em;
    background-color: black;
}

/* nav {
    display: flex;
    flex-direction: row;
    
    background-color: yellow;
}

.nav-logo {
    display: flex;
    justify-content: flex-start;
    background-color: blue;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    background-color: green;
}

.nav-a {
    font-family: ClashDisplay, sans-serif;
    text-decoration: none;
    color: white;
    background-color: red;
} */

.splash-img {
    max-width: 100%;
}

.page-title {
    font-family: ClashDisplay, sans-serif;
    font-size: 8em;
}

.about-text {
    font-family: 'Urbanist', sans-serif;
    font-size: 1em;
}

footer {
    background-color: #95CBBE;
}

@font-face {
    font-family: ClashDisplay;
    src: url(../fonts/ClashDisplay-Medium.otf);
}