/* ALL PAGES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

html {

}

body {
    background-color: #E8F5D8;
}

.logo-img {
    max-width: 6em;
}

nav {
    display: flex;
    flex-direction: column;
	margin: auto;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #fff9f0;
}

nav li {
    display: inline-flex;
    flex-direction: column;
    padding: .5em 1em;
    margin: 0em 4em;
    background-color: black;
}

nav li a {
    font-family: ClashDisplay, sans-serif;
    text-decoration: none;
    color: white;
}

footer {
    background-color: #95CBBE;
}

@font-face {
    font-family: ClashDisplay;
    src: url(../fonts/ClashDisplay-Medium.otf);
}