.store-gallery {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    border-radius: 25px;
}

.item-cell {
	max-width: 25%;
    margin: 2em;
    display: flex;
    flex-wrap: wrap;
    padding: 1.25em;
    border: 3px solid black;
    border-radius: 25px;
}

.item-cell img {
	object-fit: contain;
    margin: auto;
	width: 80%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
}

.item-text {
    margin: auto;
    padding: 1em;
    text-align: center;
}

.item-name {
    font-family: Clash Display, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    margin-bottom: .5em;
}

.item-description {
    font-family: 'Urbanist', sans-serif;
    line-height: 1.15em;
    text-align: left;
}

.item-price {
    font-family: 'Urbanist', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    text-align: left;
}

.price-buy {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.buy-button {
    display: flex;
    width: 90%;
    margin: auto;
    background-color: black;
}

.buy-button h3 {
    display: flex;
    width: fit-content;
    font-family: 'Urbanist', sans-serif;
    font-size: 1em;
    color: #fff9f0;
    padding: .75em;
}

@media screen and (max-width: 1150px){
    
    .item-cell {
        max-width: 25%;
        margin: 2em;
        display: flex;
        flex-wrap: wrap;
        padding: 1.25em;
        border: 3px solid black;
        border-radius: 25px;
    }

    .item-cell img {
        object-fit: contain;
        margin: auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        border-radius: 15px;
    }
    
    .item-text {
        margin: auto;
        padding: 0.3em 1em;
        text-align: center;
    }
    
    .item-name {
        font-family: Clash Display, sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        text-align: left;
        margin-bottom: 0em;
        padding: .5em 0em;
    }
    
    .item-description {
        font-family: 'Urbanist', sans-serif;
        line-height: 1.15em;
        text-align: left;
    }
    
    .item-price {
        font-family: 'Urbanist', sans-serif;
        font-weight: bolder;
        font-size: 1.5em;
        text-align: left;
    }
    
    .price-buy {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }
    
    .buy-button {
        display: flex;
        width: 90%;
        margin: auto;
        background-color: black;
    }
    
    .buy-button h3 {
        display: flex;
        width: fit-content;
        font-family: 'Urbanist', sans-serif;
        font-size: 1em;
        color: #fff9f0;
        padding: .75em;
    }
}

@media screen and (max-width: 950px){
    
    .item-cell {
        max-width: 33%;
        margin: 2em;
        display: flex;
        flex-wrap: wrap;
        padding: 1.25em;
        border: 3px solid black;
        border-radius: 25px;
    }
}

@media screen and (max-width: 725px){
    
    .item-cell {
        max-width: 60%;
        margin: 2em;
        display: flex;
        flex-wrap: wrap;
        padding: 1.25em;
        border: 3px solid black;
        border-radius: 25px;
    }
}
