.day-title {
    font-family: 'DM Serif Text', serif;
    font-size: 4.5em;
    margin-left: .95em;
}

.day-section {
    margin-top: 5em;
}

.event {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.img-cell {
    padding-left: 3em;
    width: 200%;
}

.event-img {
    width: 100%;
}

.text-cell {
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.event-time {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5em;
}